@use "@/styles/mixin" as *;

:root {
  --nav-width: 360px;
  --nav-b-rad: 10rem;
}

nav {
  position: sticky !important;
  height: fit-content;
  top: clamp(20px, 5vw, 50px);
  justify-self: center;
  background-color: rgba(var(--bg-color), 0.85);
  padding: 9px;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 360px;
  z-index: 100;
  scale: 0;
  backdrop-filter: blur(10px);
  animation: nav-entering 1s ease-in-out 0.1s forwards;
  width: 58px;
  overflow: hidden;
  @include slightFadeBg(rgb(var(--text-color), 0.08));

  .menu {
    display: flex;
    gap: 10px;
    position: absolute;
    opacity: 0;
    justify-content: end;
    transform-origin: center;
    animation: nav-menu-entering 0.3s ease-in-out 0.8s forwards;

    a {
      color: inherit;
      background-color: rgba(var(--text-color), 0.1);
      width: 45px;
      height: 45px;
      display: grid;
      place-items: center;
      aspect-ratio: 1;
      border-radius: 10rem;
      text-decoration: none;
      @include pressFeedback();

      &.new-wish {
        display: flex;
        gap: 8px;
        width: fit-content;
        padding: 0 12px 0 14px;
        aspect-ratio: unset !important;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --nav-width: 90%;
    //   --nav-b-rad: 10rem;
  }
}
