@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  color-scheme: light dark;
  --accent-1: 21, 87, 36;
  --accent-2: 114, 28, 36;
  --accent-3: 133, 100, 4;
  --accent-4: 0, 64, 133;
  --accent-100: 255, 238, 186;
  --accent-200: 195, 230, 203;
  --accent-300: 184, 218, 255;
  --accent-400: 245, 198, 203;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 24, 24, 24;
    --text-color: 244, 236, 222;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: 255, 255, 255;
    --text-color: 0, 0, 0;
  }
}
