@use "@/styles/mixin" as *;

:root {
  --wall-col: repeat(auto-fit, minmax(280px, 1fr));
  --wall-gap: clamp(16px, 4vw, 32px);
  --wall-wish-h: 480px;
  --wall-col-count: 4;
  --wal-min-h: calc(100dvh - 70px - clamp(20px, 5vw, 40px));
}

.wall {
  display: grid;
  align-content: start;
  min-height: var(--wal-min-h);
  grid-template-rows: auto 1fr;

  &-banner {
    padding: clamp(54px, 7vw, 100px) 24px;
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 8px;

    h1,
    p {
      margin: 0;
    }
    h1 {
      font-weight: 600;
      font-size: clamp(30px, 4.1vw, 42px);
    }
    p {
      font-size: clamp(14px, 1.5vw, 18px);
      line-height: 1.5;
      opacity: 0.8;
    }
  }

  .wrapper {
    width: calc(100% - 2 * var(--wall-gap));
    justify-self: center;
    display: grid;
    height: 100%;
    min-height: 250px;
    max-width: 1440px;
    overflow: hidden;
    background-color: rgba(var(--text-color), 0.05);
    border-radius: 33px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .plate {
    display: grid;
    box-sizing: border-box;
    max-height: 100%;
    padding: var(--wall-gap);
    scrollbar-color: rgba(var(--text-color), 0.1) transparent;

    > * {
      scroll-snap-align: start;
      scroll-margin-block: var(--wall-gap);
    }

    &:hover {
      scrollbar-color: rgba(var(--text-color), 0.2) transparent;
    }

    mask-image: linear-gradient(
      to bottom,
      transparent,
      #000 10px,
      #000 calc(100% - 10px),
      transparent
    );
    margin: 1px 0;
  }

  &-content {
    column-count: var(--wall-col-count);
    column-gap: var(--wall-gap);
    width: 100%;

    &-card {
      overflow: hidden;
      transform: rotate(var(--random-rotate, 0deg));
      margin-bottom: var(--wall-gap);
      opacity: 0;
      animation: CardDrop 0.5s ease-out var(--delay) forwards;
      border-radius: 24px;
    }

    .wish {
      &-card {
        width: 100%;
      }
    }
  }
  &-count {
    position: fixed !important;
    justify-self: center;
    bottom: 16px;
    background-color: rgb(var(--primary-color));
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 22px 1fr;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 30px;
    padding: clamp(5px, 1vw, 10px) clamp(13px, 2vw, 18px);
    border-radius: 32px;
    border: 2px solid rgba(var(--text-color), 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    div {
      &:first-child {
        font-size: 1.2em;
        font-weight: 600;
        justify-self: center;
      }
      &:last-child {
        display: flex;
        align-items: center;
        column-gap: 3px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --wall-col-count: 3;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --wall-col-count: 2;
    // --wal-max-h: none;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --wall-col: 1fr;
    --wall-gap: clamp(12px, 3vw, 24px);
  }
}

@media screen and (max-width: 620px) {
  :root {
    --wall-col-count: 1;

    .wrapper {
      background-color: transparent;
    }

    body[device="mobile"] {
      --wall-col-count: 1;
      .plate {
        // display: flex !important;
        overflow-x: auto;
        mask-image: linear-gradient(
          to right,
          transparent,
          #000 10px,
          #000 calc(100% - 10px),
          transparent !important
        );

        > div {
          // width: 86%;
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .wall {
    &-count {
      bottom: 20px;
    }
  }
}
